* {
    margin: 0;
    padding: 0;
  } 
  
  *,
  :after,
  :before {
    box-sizing: border-box;
  
  }

h1{
    font-family: inherit;
    font-weight: bold;
    font-size: 60px;
}

h2{
    font-family: inherit;
    font-weight: bold;
    font-size: 45px;
}

h3{
    font-family: inherit;
    font-weight: bold;
    font-size: 40px;
}

h4{
    font-family: inherit;
    font-weight: bold;
    font-size: 30px;
}

h5{
    font-family: inherit;
    font-weight: bold;
    font-size: 20px;
}

p, a{
    font-family: Verdana, Arial, Helvetica, sans-serif;
}


#marge {
    margin-left: 10rem;
    margin-right: 10rem;
}

.color-orange {
    color: #ff8000;
}

.color-red {
    color: #e90e0e;
}

.color-white {
    color: #ffffff;
}

#map {
    width: 100%;
    height: 400px;
    background: #d6d6d6;
}