* {
    margin: 0;
    padding: 0;
  } 
  
  *,
  :after,
  :before {
    box-sizing: border-box;
  
  }

h1{
    font-family: inherit;
    font-weight: bold;
    font-size: 60px;
}

h2{
    font-family: inherit;
    font-weight: bold;
    font-size: 45px;
}

h3{
    font-family: inherit;
    font-weight: bold;
    font-size: 40px;
}

h4{
    font-family: inherit;
    font-weight: bold;
    font-size: 30px;
}

h5{
    font-family: inherit;
    font-weight: bold;
    font-size: 20px;
}

p, a{
    font-family: Verdana, Arial, Helvetica, sans-serif;
}


#marge {
    margin-left: 10rem;
    margin-right: 10rem;
}

.color-orange {
    color: #ff8000;
}

.color-red {
    color: #e90e0e;
}

.color-white {
    color: #ffffff;
}

#map {
    width: 100%;
    height: 400px;
    background: #d6d6d6;
}



/* RESPONSIVE */

@media only screen and (max-width: 1150px) {
    h1{
        font-size: 50px;
    }
    
    h2{
        font-size: 35px;
    }
    
    h3{
        font-size: 30px;
    }
    
    h4{
        font-size: 25px;
    }

    #marge {
        margin-left: 5rem;
        margin-right: 5rem;
    }
}

@media only screen and (max-width: 767px) {
    h1{
        font-size: 40px;
    }
    
    h2{
        font-size: 30px;
    }
    
    h3{
        font-size: 25px;
    }
    
    h4{
        font-size: 20px;
    }

    #marge {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

/* Styles pour la mise en page responsive */
@media (max-width: 767px) {
    .menu-container .menu {
        display: flex;
    }

    .menu-container .menu a {
        margin: 10px;
    }
}

@media (max-width: 768px) {
    .mobile-hidden {
      display: none;
    }
}



.article-down {
    margin-top: 200px; /* Ajustez la valeur selon votre besoin */
}





.navbar-toggler-icon {
    background-color: #000;
    height: 2px;
    width: 20px;
    position: absolute; 
    z-index: 1;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: '';
    background-color: #000;
    height: 2px;
    width: 20px;
    position: absolute; 
    left: 0; 
    transition: transform 0.3s ease; 
}

.navbar-toggler-icon::before {
    top: -6px; /* Positionnement de la première barre */
}

.navbar-toggler-icon::after {
    top: 6px; /* Positionnement de la deuxième barre */
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
    transform: rotate(45deg); /* Animation de rotation pour la première barre lorsque le menu est ouvert */
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
    transform: rotate(-45deg); /* Animation de rotation pour la deuxième barre lorsque le menu est ouvert */
}
  